.footer {
  width: 100vw;
  height: 25px !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
 font-size: 12px;
 font-family: Verdana;
}

