body {
  font-family: Verdana !important;
  font-size: 10px;
}

.sign-in{
  font-size: 12px !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-weight: bold!important;
  Color: black !important;

}

th {
  /* background-color: var(--accent-color) !important; */
  border: 1px solid rgb(223, 223, 223) !important;
  color: var(--primary-color) !important;
  text-align: center !important;
  font-size: 12px !important;
  font-weight: bold !important;
  color: white !important;
  /* width: 1px !important; */
  white-space: nowrap !important;
  padding: 3px 2px !important;
  position: sticky !important;
  z-index: 999 !important;
  background-color: #1f2670 !important;
}


.custom-header {
  padding: 8px;
  /* Adjust as needed */
  margin: 0;
}

.daily-salerat {
  width: 70px !important;
  text-align: right !important;
}

.list-same-col-width {
  width: 70px !important;
}

.daily-col-amount {
  width: 70px !important;
  text-align: right !important;
  ;
}

.supplier-col-amount {
  width: 50px !important;
  /* text-align: right !important; */
  ;
}

.table-col-style {
  /* padding-left: 5px !important;
  padding-right: 5px !important; */
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-flex {
  display: block !important;
  /* Override display property */
  /* Additional styles if needed */
}

.sticky-bottom-row {
  position: sticky;
  bottom: 0;
  background-color: #ffffff;
 
}

.table-col-item-description {
  padding-left: 5px !important;
  padding-right: 5px !important;
  text-align: left !important;

}


td {
  padding: 0px 2px !important;
  font-size: 12px !important;
  border: 1px solid rgb(223, 223, 223) !important;
  text-align: center;
  font-family: Verdana !important;
  height: 20px !important;
  }

tr.selected-row td {
  background-color: lightblue !important;
  font-weight: bold !important;
}

thead {
  position: sticky !important;
  background-color: rgb(235, 135, 64) !important;
}

.header-style {
  text-align: left !important;
}

.Table-head-style {
  font-size: 10px !important;
  font-weight: bold;

}


.custom-date-picker {
  height: 30px;
  /* Increase the height as needed */
  display: inline-block;
  width: 100px;
  /* Adjust the width as needed */
  margin-left: 10px;
}

.child1 {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; This property creates space between divs */
  width: 100%;
  /* Ensure the child1 div spans the full width */
}

/* Specific styling for the last div within .child1 */
.child1>div#lastDiv {
  margin-left: auto;
}

.child2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 5px;

}

.iconsstyle {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: end;
}

.icon-container {
  display: flex !important;
  justify-content: space-evenly !important;
}

.custom-icon {

  font-size: 20px;
  /* margin-left: 5px; */
  background: none !important;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  transform-origin: center center;
  padding: 0px !important;
}

.custom-icon:hover {
  transform: scale(1.3);
  /* Increase the size on hover */
}

.itemslae-icon {
  text-align: left !important;

}

.status-select-styling {
  width: 300px !important;
  height: 35px !important;

}

.dailysale-table {
  position: relative !important;
  font-size: 10px !important;
  margin: 0px !important;
  /* width: 750px !important; */
}

.MDB-table {
  margin-bottom: 0px !important;
  
}


.fontsize-class {
  font-size: 10px !important;
}


/* ------------------------ */
/*  PRICE LIST CSS STYLING  */
/* ------------------------ */


.dropdown-indicator {
  margin-left: 5px;
  /* Adjust the margin as needed */
  font-size: 10px;
  /* Adjust the font size as needed */
  color: #000;
 
}

.rotate-180 {
  transform: rotate(180deg) !important;
}


.text-left {
  text-align: left !important;
}


.List-select-class {
  font-size: 10px !important;
  padding-left: 5px !important;
}

.css-1a5oalu-control {
  height: 24px !important;
  min-height: 24px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-wrap: nowrap !important;
  }

.css-qbdosj-Input {
  height: 24px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px !important;
  padding: 0px !important;
}

.css-1fdsijx-ValueContainer {
  padding: 0px !important;
  height: 24px !important;
}

.css-1hb7zxy-IndicatorsContainer {
  font-size: 10px !important;
  align-items: center !important;
  height: 24px !important;

}

.css-1mdmbke-control{
  display: flex !important ;
  flex-wrap: nowrap !important;
}
.css-1hpfbo6-control{
  display: flex !important;
  flex-wrap: nowrap !important;
}

.css-x6b0p2-control{
  display: flex !important;
  flex-wrap: nowrap !important;
}
.css-aqma7c-control{
  display: flex !important;
  flex-wrap: nowrap;
}

.css-187iorh-control{
  display: flex !important;
  flex-wrap: nowrap!important;
}


.css-8jg1h1-control {
  display: flex !important;
  flex-wrap: nowrap !important;
}
.css-lxz8e0-control{
  display: flex!important;
  flex-wrap: nowrap!important;
}

/* supplierleder select style  */
.css-10jylto-control{
  display: flex!important;
  flex-wrap: nowrap!important;
}
.css-1n9qi8i-control{
display: flex !important;
flex-wrap: nowrap !important;
}


.css-1hpfb06-control{
  display: flex!important;
  flex-wrap: nowrap!important;
}

.css-aqma7c-control{
  display: flex!important;
  flex-wrap: nowrap!important;
}

.css-179q0y8-control{
  display: flex!important;
  flex-wrap: nowrap!important;
}

.css-568mv0-control{
  display: flex!important;
  flex-wrap: nowrap!important;
}

.css-568mvo-control{
  display: flex!important;
  flex-wrap: nowrap!important;
}
/* item Ledger */

.css-lglhixg-control{
  display: flex!important;
  flex-wrap: nowrap!important;
}

/*----------------*/


.table-heading{
  font-size: 12px !important;
  font-weight: bold !important;
}

#submitButton{
 border: none !important; 
}
#handlebackSubmit{
  border: none !important;
}

/* ////////// mail popup style /////////////// */
.modal-header{
  background-color: #1f2670 !important;
  color: white !important;
  height: 50px !important;
  
}

.modal-title{
  font-size: 18px !important;
} 

 .cross-style{
  color: white !important;
  background-color: white !important;
  font-size: 10px !important;
 }

 
 .form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #1f2670;
  outline: 0;
  box-shadow: 0 0 0 1px #1f2670;
}

.popup-btn-style{
 font-size: 12px !important;
 background-color: #1f2670;
 color: white;
 border-color: #1f2670 !important;
}

.popup-btn-style:hover{
  background-color: #1f2670 !important;
  color: white !important;
  
}
#mail{
  height: 30px !important;
  font-size: 12px !important;
  background: transparent !important;
}
#message-text{
  height: 40px !important;
  font-size: 12px !important;
  background: transparent !important;
}
#fileInput{
  background: transparent !important;
  height: 30px !important;

}